<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>
<main>
<% if (blogs.length > 0){ %>
 <% blogs.forEach(blogs => {%> 
<div class="blog">
<a class="single" href="/blogs/<%= blogs._id  %>"><h3><%= blogs.title %></h3>
<p><%= blogs.snippet %></p>
</a> 
</div>  
<% })}else { %>
    <p>there is no blogs to be shown !</p>
<% } %>
</main>
</body>
<%- include('./partials/footer.ejs') %>
</html>